* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
}

.nav1 {
  height: 30px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav1 .ul2 {
  display: flex;
  padding-right: 20px;
}

.ul1 a,
.ul2 a {
  text-decoration: none;
  color:rgb(233, 213, 213);
  font-size: 14px;
}

.ul1 li,
.ul2 li{
  list-style-type: none;
  padding-left:15px;
}

.nav1 .ul1 {
  text-decoration: none;
  color: white;
  display: flex;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav2 ul {
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  list-style-type: none;
}

.nav2 a {
  margin-right:25px;
  color:grey;
  text-decoration: none;
}

.nav2 .search {
  height: 100%;
  border-left: 1px solid rgb(214, 205, 205);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav2 .fa-search {
  width: 20px;
  color: grey;
  margin-left: 10px;
}

.nav2 .fa-search:hover {
  color: rgb(146, 137, 137);
}

.nav3 {
  height: 30px;
  background-color: rgb(248, 224, 8);
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.section1 {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: aqua;
}

.banner {
  width: 65%;
  height: 99%;
  margin: 2px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}

.banner-side {
  width: 35%;
  height: 99%;
  margin: 2px;
}

.banner-side .side {
  width: 100%;
  height: 49%;
  background-color: rgb(230, 131, 1);
  margin: 2px;
}

.section2 {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto;
}

h2 {
  color: #f42;
}

.section2 a {
  text-decoration: none;
}

.latestnews {
  display: flex;
  flex-wrap: wrap;
}

.items {
  width: 24%;
  margin: 5px 5px 5px 5px;
  /* background-color: green; */
  height: 250px;
  display: flex;
  flex-direction: column;
}

.items img {
  background-color: black;
  width: 100%;
  height: 50%;
}

.items p {
  margin: 10px 0 10px 0;
  color: black;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.items .time span {
  color: gray;
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.section3 {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto;
  /* background-color: greenyellow; */
}

.section3 .addlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section3 .addlinks ul {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.section3 .addlinks ul li {
  margin: 10px;
  color: #f42;
  padding-right: 10px;
  border-right: 1px solid  #f42;
}

.section3 .addlinks ul li:last-child {
  border-right: none;
}

.section3 a {
  text-decoration: none;
}

.latestfundings {
  display: flex;
}

.fundings {
  width: 24%;
  margin: 5px 5px 5px 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.fund1 {
  background-color: red;
  height: 40px;
  display: flex;
  text-align: center;
}

.fund1 p {
  margin-left: 20px;
  font-size: 17px;
  margin-top: 10px;
  color:white;
  font-weight: 600;
}
.pic1 {
  width: 60px;
  height: 60px;
  margin-left:10px;
  margin-top: 10px;
  
}


.fund2 {
  height: 60px;
  background-color: rgb(248, 202, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.money {
  font-weight: 600;
  color: black;
}

.seed {
  color: grey;
  font-size: 12px;
  position: relative;
  left: 1.6em;
}


.fund2 p{
  margin-left: 5em;
}

.fund3 {
  height: 90px;
  background-color: whitesmoke;
  line-height: 15px;
}

.fund3 i{
  margin-left:1em;
  margin-top: 1em;
  color: black;
}

.fund3 p {
  margin-left:3em;
  margin-top: -0.8em;
  color: grey;
}

.fund3 p:hover {
  color: black;
}

.fund4 {
  height: 90px;
  background-color: whitesmoke;
  border-top: 1px solid pink;
}

.fund4 small {
  color: lightgray;
}

.fund4 p {
  margin-left: 10px;
  margin-top: 15px;
  color: #555;
  font-size: 15px;
}

.section4 {
  width: 85%;
  display: flex;
  margin: 50px auto 0 auto;
  background-color: rgb(90, 114, 194);
}

.section4 article {
  width: 30%;
  height: 400px;
  background-color: brown;
}

.article-image img{
  width:50px;
  height: 50px;
}

.section3 .addlinks ul li:hover {
  color: black;
}

.items .time strong:hover {
  cursor: pointer;
  color: #363636;
}

.items p:hover {
  color: #f42;
  cursor: pointer;
  text-decoration: underline;
}

h2:hover {
  color: black;
}

.nav2 a:hover {
  color: black;
}

